ion-label ,ion-title {
    --color: #5c2b92 !important;
  }
  
  ion-icon {
    color: #5c2b92 !important;
  }
  
  a{
    color: #3171e0 !important;
  }
  
  ion-card{
    background-color: transparent !important;
    box-shadow: none;
  }